<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="movies">
      <h2 data-cy="moviesDetailsHeading"><span>Movies</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ movies.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ movies.name }}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
          <span>{{ movies.category }}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ movies.rating }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/movies', movies.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
